flask
pandas
psycopg2-binary
flask-login
werkzeug
openpyxl
Flask-SQLAlchemy
GeoAlchemy2
Shapely
xlsxwriter
# hay q instalar el obdc driver de sql versión 17
# para que funcione la parte del simpath. 
# se descarga desde la pagina oficial